$nav-bgc: rgba(245, 245, 250, 0.20);
$btc-color-primary: #FFF;
$btn-bct-light : #FFF;
$btn-color-active: #24A3FF; 
$color-text-primary: #FFF;
$color-link-primary: #686887;
$color-current: #F0145A;
$font-family: "Montserrat" , sans-serif;
$line-height: 1.2;
$font-weight-bold : 700;
$font-weight-normal: 400;
$text-direction-prymary: none;
$font-size-default: 16px;