$width: (
    "mob": 315px,
    "tabletSD": 648px,
    "tabletHD": 904px,
    "desktopSD": 1320px,
    "desktopHD": 1600px
);

$min-width: (
    "mob" : 375px,
    "tabletSD" : 768px,
    "tabletHD": 1024px,
    "desktopSD": 1440px,
    "desktopHD": 1920px
);

$width-partner-card: (
    "mob" : 375px,
    "tabletSD" : 256px,
    "tabletHD": 256px,
    "desktopSD": 360px,
    "desktopHD": 430px
);

$partner-url: (
    "Hillel" : "../images/Hillel-Logo-OneLine-White-Uk.png",
    "WannaBiz" : "../images/WannaBiz.png",
    "Tapgerine" : "../images/tapgerine.png",
    "3D-Look" : "../images/3D-LOOK.png",
    "Orangear" : "../images/orangear.png",
    "Atelligent" : "../images/adtellingent.png",
    "Clickky" : "../images/Clickky.png",
    "Ecolease" : "../images/ecolease.png",
    "Ifra-Tek" : "../images/Ifra-Tek.png",
    "City-Garden" : "../images/City-garden.png",
    "Art-print" : "../images/art-print.png",
    "UltimeCard" : "../images/UltimeCard.png"
);
