@use "maps" as maps;
@use "sass:map";

.partner-company {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.partner-cards {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: 30px;
    border-radius: 12px;
    overflow: hidden;

    .partner-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 375px;
        height: 120px;

        
        &:nth-child(1) {
            background-color: #323264;
            background-image:url(map.get(maps.$partner-url, "Hillel"));
            background-size: 217px 48px;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &:nth-child(2) {
            background: #143646;
            background-image:url(map.get(maps.$partner-url, "WannaBiz"));
            background-size: 200px 32px;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &:nth-child(3) {
            background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
            background-image:url(map.get(maps.$partner-url, "Tapgerine"));
            background-size: 179px 44px;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &:nth-child(4) {
            background-color: #9E4DC3;
            background-image:url(map.get(maps.$partner-url, "3D-Look"));
            background-size: 180px 42px;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &:nth-child(5) {
            background: #FD9339;
            background-image:url(map.get(maps.$partner-url, "Orangear"));
            background-size: 174px 44px;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &:nth-child(6) {
            background: #E2E2E4;
            background-image:url(map.get(maps.$partner-url, "Atelligent"));
            background-size: 223px 48px;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &:nth-child(7) {
            display: none;
        }
        
        &:nth-child(8) {
            display: none;
        }
        
        &:nth-child(9) {
            display: none;
        }
        
        &:nth-child(10) {
            display: none;
        }
        
        &:nth-child(11) {
            display: none;
        }
        
        &:nth-child(12) {
            display: none;
        }
    }
}

@media (min-width : map.get(maps.$min-width, "tabletSD")) {
    .partner-cards {
        .partner-card {
            width: map.get(maps.$width-partner-card,"tabletSD");

            &:nth-child(7) {
                display: block;
                background: #C71C36;
                background-image:url(map.get(maps.$partner-url, "Clickky"));
                background-size: 138px 61px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            
            &:nth-child(8) {
                display: block;
                background: #DCF3F9;
                background-image:url(map.get(maps.$partner-url, "Ecolease"));
                background-size: 146px 76px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            
            &:nth-child(9) {
                display: block;
                background: #EAEAEA;
                background-image:url(map.get(maps.$partner-url, "Ifra-Tek"));
                background-size: 182px 60px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            
            &:nth-child(10) {
                display: block;
                background: #282240;
                background-image:url(map.get(maps.$partner-url, "City-Garden"));
                background-size: 181px 38px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            
            &:nth-child(11) {
                display: block;
                background: #1D4568;
                background-image:url(map.get(maps.$partner-url, "Art-print"));
                background-size: 189px 46px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            
            &:nth-child(12) {
                display: block;
                background: #000;
                background-image:url(map.get(maps.$partner-url, "UltimeCard"));
                background-size: 152px 95px;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }
   
}
  
@media (min-width : map.get(maps.$min-width, "tabletHD")) {
    .partner-cards {
        .partner-card {
            width: map.get(maps.$width-partner-card,"tabletHD");
        }
    }
}

@media (min-width : map.get(maps.$min-width, "desktopSD")) {
    .partner-cards {
        .partner-card {
            width: map.get(maps.$width-partner-card,"desktopSD");
        }
    }
}

@media (min-width : map.get(maps.$min-width, "desktopHD")) {
    .partner-cards {
        .partner-card {
            width: map.get(maps.$width-partner-card,"desktopHD");
        }
    }
}


