@use "../abstracts/maps" as maps;
@use "sass:map";
@use "../abstracts/variables" as *;




.company-pride {
    padding-bottom: 60px;
    

    &__cards-pride {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        width: map.get(maps.$card-pride-width, "mob");

    }   

    &__img-block {
        margin-bottom: 30px;
    }
    
    &__card-title {
        display: inline-block;
        text-decoration: none;
        color: $btn-color-active;
        font-family: $font-family;
        font-size: 22px;
        font-weight: $font-weight-bold;
        margin-bottom: 15px;
        line-height: $line-height;

        &:hover { 
            color: $color-current;
        }
    }
    
    &__card-text {
        color: $color-text-primary;
        font-family: $font-family;
        font-size: $font-size-default;
        font-weight: $font-weight-normal;
        line-height: 26px;
    }
}
        





@media (min-width : map.get(maps.$min-width, "tabletSD")) {

    .company-pride{
        
        &__cards-pride {
            gap : 60px;
        }

        &__card-pride {
            width: map.get(maps.$card-pride-width, "tabletSD");
        }
    }
    
  }
  
@media (min-width : map.get(maps.$min-width, "tabletHD")) {
   
    .company-pride {

        &__card-pride {
           width: map.get(maps.$card-pride-width, "tabletHD");
        }
    }
    
}

@media (min-width : map.get(maps.$min-width, "desktopSD")) {

    .company-pride {

        &__card-pride {
            width: map.get(maps.$card-pride-width, "desktopSD");
        }
    }
    
}

@media (min-width : map.get(maps.$min-width, "desktopHD")) {

    .company-pride {

        &__card-pride {
           width: map.get(maps.$card-pride-width, "desktopHD");
        }
    }
    
}


