@use "../abstracts/maps" as maps;
@use "sass:map";
@use "../abstracts/variables" as var;


.main-center__partner {
    margin-top: 60px;
}

.main-center__partner-company-services {
    margin-top: 80px;
}


@media (min-width : map.get(maps.$min-width, "desktopHD")) {

    .main-center__partner {
        margin-bottom: 60px;
    }
    .main-center__partner-company-services {
        margin-bottom: 60px;
    }
}