@use "../abstracts/variables" as *;
@use "../abstracts/maps" as maps;
@use "sass:map";
@use "../abstracts/mixin" as mix;

.services-area{
    border-top: 4px solid rgba(255, 255, 255, 0.50);
    padding-top: 30px;
    padding-bottom: 60px;
    &__item{
        position: relative;
        color: $color-text-primary;
        font-family: $font-family;
        font-size: 18px;
        font-weight: $font-weight-normal;
        line-height: 26px;
        margin-left: 15px;

        &::before{
            content: "";
            position: absolute;
            background-color: #F0145A;
            width: 7px;
            height: 7px;
            left: -15px;
            top: 14px;
            transform: translate(0,-50%);
            border-radius: 50%;
        }
    }

    &__items{
        display: flex;
        flex-direction: column;
        gap: 15px;

        &:first-of-type{
            margin-bottom: 30px;
        }
    }

    &__title{
        color: $color-text-primary;
        font-family: $font-family;
        font-size: 22px;
        font-weight: $font-weight-bold;
        line-height: $line-height;
        margin-bottom: 30px;
    }
}





@media (min-width : map.get(maps.$min-width, "tabletSD")) {
    .services-area{

        &__content {
            display: flex;
            gap: 60px;
        }
    
        &__items{
            width: 100%;
            
            &:first-of-type{
                margin-bottom: 0px;
            }
        }
    }
}

@media (min-width : map.get(maps.$min-width, "tabletHD")) {
}

@media (min-width : map.get(maps.$min-width, "desktopSD")) {
   
}

@media (min-width : map.get(maps.$min-width, "desktopHD")) {
    
}