@use "../abstracts/maps" as maps;
@use "sass:map";



.main-header {
    position: relative;
    border-radius: 0px 0px 12px 12px;
    background: linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%);

    &__services-card {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.main-header__advantage {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-header__company-pride-services {
    margin-top: 30px;
}

.main-header__shadow {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;

    .main-header__first {
        margin-left: 20px;
        margin-right: 20px;
        position: relative;

        &:after {
            content:'';
            position: absolute;
            left: 0;
            right: 0;
            height: 10px;
            border-radius: 0px 0px 12px 12px;
            background-color: #CACADB;
        }
    }
    
    .main-header__second {
        position: relative;
        margin-left: 40px;
        margin-right: 40px;

        &:after {
            content:'';
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            height: 10px;
            border-radius: 0px 0px 12px 12px;
            background-color: #E7E7F2;
        }
    }
}


@media (min-width : map.get(maps.$min-width, "tabletSD")) {
    
    .main-header__company-pride-services {
        margin-top: 60px;
    }
    
    .main-header__advantage {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .main-header {

        &__services-card {
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

}

@media (min-width : map.get(maps.$min-width, "tabletHD")) {
    
}

@media (min-width : map.get(maps.$min-width, "desktopSD")) {
    
}

@media (min-width : map.get(maps.$min-width, "desktopHD")) {
    
}