
.mob-nav-popup--closed{
    display: none;
}

.mob-nav-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#323264,0.7);
}

.mob-nav-popup__card.mob-nav-popup__card--menu-open {
    bottom: 0;
  }

.mob-nav-popup__card {
    position: absolute;
    display: block;
    width: 95.6%;
    left: 50%;
    bottom: -100%;
    transition: 1s;
    transform: translate(-50%,0);
    border-radius: 12px 12px 0px 0px;
    background-color: #fff;
    padding-top: 64px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}


.mob-nav-popup__close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;

        &:hover{
            background-color: #E6E6F0;
            border-radius: 8px;
        }
    }
    .mob-nav-popup__img {
        object-fit: cover;
        border: 0;
        width: 32px;
        height: 32px;
    }

      
    


.mob-nav-popup__item {
    margin-bottom: 15px;
    
    &:last-child{
        margin-bottom: 0px;
    }
        
    }

.mob-nav-popup__link {
    display: block;
    text-decoration: none;
    color:  #24A3FF;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    border-radius: 12px;
    background: #F5F5FA;
    padding-top: 7px;
    padding-bottom: 7px;

    &:active{
        background-color: #E6E6F0;
        border-radius: 8px;
        }

    
}
