@use "../abstracts/variables" as *;

.services-card{
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__button{
        padding: 18px 30px;
    }

    &__text{
        color: $color-text-primary;
        font-family: $font-family;
        font-size: 19px;
        font-weight: $font-weight-normal;
        line-height: 30px;

        &:first-child{
            margin-bottom: 30px;
        }
    }
}