@import "../styles/reset.css";
@import "../fonts/stylesheet.css";
.company-pride {
  padding-bottom: 60px;
}
.company-pride__cards-pride {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.company-pride__img-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 94px;
  border-radius: 24px;
  background-color: #FFF;
  margin-bottom: 30px;
}
.company-pride__card-img {
  display: block;
  width: 64px;
  height: 64px;
}
.company-pride__card-title {
  display: inline-block;
  text-decoration: none;
  color: #24A3FF;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.2;
}
.company-pride__card-title:hover {
  color: #F0145A;
}
.company-pride__card-text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (min-width: 768px) {
  .company-pride__cards-pride {
    gap: 60px;
  }
  .company-pride__card-pride {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .company-pride__card-pride {
    width: 28.9%;
  }
}
@media (min-width: 1440px) {
  .company-pride__card-pride {
    width: 30.2%;
  }
}
@media (min-width: 1920px) {
  .company-pride__card-pride {
    width: 30.8%;
  }
}
.main-center__partner {
  margin-top: 60px;
}

.partner-company__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.partner-company__partner-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.partner-company__partner-card {
  width: 100%;
  height: 120px;
}
.partner-company__partner-card:nth-child(1) {
  background-color: #323264;
  background-image: url("../images/Hillel-Logo-OneLine-White-Uk.png");
  background-size: 217px 48px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-company__partner-card:nth-child(2) {
  background: #143646;
  background-image: url("../images/WannaBiz.png");
  background-size: 200px 32px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-company__partner-card:nth-child(3) {
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
  background-image: url("../images/tapgerine.png");
  background-size: 179px 44px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-company__partner-card:nth-child(4) {
  background-color: #9E4DC3;
  background-image: url("../images/3D-LOOK.png");
  background-size: 180px 42px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-company__partner-card:nth-child(5) {
  background: #FD9339;
  background-image: url("../images/orangear.png");
  background-size: 174px 44px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-company__partner-card:nth-child(6) {
  background: #E2E2E4;
  background-image: url("../images/adtellingent.png");
  background-size: 223px 48px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-company__partner-card:nth-child(7) {
  display: none;
}
.partner-company__partner-card:nth-child(8) {
  display: none;
}
.partner-company__partner-card:nth-child(9) {
  display: none;
}
.partner-company__partner-card:nth-child(10) {
  display: none;
}
.partner-company__partner-card:nth-child(11) {
  display: none;
}
.partner-company__partner-card:nth-child(12) {
  display: none;
}

@media (min-width: 768px) {
  .partner-company__partner-card {
    width: 33.3%;
  }
  .partner-company__partner-card:nth-child(7) {
    display: block;
    background: #C71C36;
    background-image: url("../images/Clickky.png");
    background-size: 138px 61px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-company__partner-card:nth-child(8) {
    display: block;
    background: #DCF3F9;
    background-image: url("../images/ecolease.png");
    background-size: 146px 76px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-company__partner-card:nth-child(9) {
    display: block;
    background: #EAEAEA;
    background-image: url("../images/Ifra-Tek.png");
    background-size: 182px 60px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-company__partner-card:nth-child(10) {
    display: block;
    background: #282240;
    background-image: url("../images/City-garden.png");
    background-size: 181px 38px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-company__partner-card:nth-child(11) {
    display: block;
    background: #1D4568;
    background-image: url("../images/art-print.png");
    background-size: 189px 46px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-company__partner-card:nth-child(12) {
    display: block;
    background: #000;
    background-image: url("../images/UltimeCard.png");
    background-size: 152px 95px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1024px) {
  .partner-company__partner-card {
    width: 25%;
  }
}
@media (min-width: 1920px) {
  .main-center__partner {
    margin-bottom: 60px;
  }
  .partner-company__partner-cards {
    width: 1720px;
    border-radius: 12px;
    overflow: hidden;
  }
}
.symbol-header {
  display: block;
  height: auto;
  background-image: url(../images/Symbol.png);
  background-repeat: no-repeat;
  background-size: 523px 600px;
  background-position: top;
}

.symbol-header__title-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 139px;
  padding-bottom: 30px;
}

.symbol-header__title {
  display: block;
  width: 90%;
  color: #FFF;
  text-align: center;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
}

.symbol-header__scroll {
  margin-top: 159px;
  display: flex;
}
.symbol-header__scroll::before {
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../images/icons/Scroll.png);
  background-repeat: no-repeat;
  background-size: 42px 42px;
}
.symbol-header__scroll:hover::before {
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../images/icons/Scroll-hover.png);
  background-repeat: no-repeat;
  background-size: 42px 42px;
}

@media (min-width: 768px) {
  .symbol-header {
    background-size: 893px 1024px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
  }
  .symbol-header__title-scroll {
    margin-top: 269px;
  }
  .symbol-header__scroll {
    margin-top: 417px;
  }
}
@media (min-width: 1024px) {
  .symbol-header {
    background-size: 670px 768px;
  }
  .symbol-header__title-scroll {
    margin-top: 245px;
  }
  .symbol-header__scroll {
    margin-top: 289px;
  }
}
@media (min-width: 1440px) {
  .symbol-header {
    background-size: 697px 799px;
  }
  .symbol-header__title-scroll {
    margin-top: 261px;
  }
  .symbol-header__scroll {
    margin-top: 305px;
  }
}
@media (min-width: 1440px) {
  .symbol-header {
    background-size: 872px 1000px;
  }
  .symbol-header__title-scroll {
    margin-top: 361px;
  }
  .scroll-header__scroll {
    margin-top: 405px;
  }
}
.company-advantage__list-items {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 30px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}

.company-advantage__item:first-child .company-advantage__link {
  background-image: linear-gradient(118deg, #EF8080 0%, #F0145A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.company-advantage__item:not(:first-child) .company-advantage__link:hover {
  color: #F0145A;
}

.company-advantage__link {
  line-height: normal;
  text-decoration: none;
  color: #B3B3BA;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.company-advantage__block {
  margin-top: 30px;
}

.company-advantage__title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}

.company-advantage__text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}

@media (min-width: 768px) {
  .company-advantage__list-items {
    padding-bottom: 60px;
  }
  .company-advantage__block {
    margin-top: 60px;
  }
  .company-advantage__title {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .company-advantage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .company-advantage__list {
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    padding-right: 60px;
  }
  .company-advantage__list-items {
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding-bottom: 0;
    border-bottom: none;
    overflow-x: auto;
  }
  .company-advantage__block {
    margin-top: 0;
    margin-left: 60px;
  }
  .company-advantage__text {
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .company-advantage {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.contact-and-nav--desktop {
  display: none;
}

.contact-and-nav__contact {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-and-nav__contact--dark {
  background-color: rgba(245, 245, 250, 0.2);
}

.contact-and-nav__lang-switch {
  font-size: 0;
}

.contact-and-nav__lang-link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 5px 7px;
}
.contact-and-nav__lang-link--light {
  color: #FFF;
}
.contact-and-nav__lang-link:not(:last-child):hover {
  border-radius: 8px;
  background-color: #686887;
}
.contact-and-nav__lang-link:last-child {
  color: #FFF;
  border-radius: 8px;
  background-color: #F0145A;
}

.contact-and-nav__contact-phone {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.contact-and-nav__contact-phone--light {
  color: #FFF;
}

.contact-and-nav__logo-menu {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.contact-and-nav__logo {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.contact-and-nav__company-name-img {
  width: 69px;
  height: 25px;
}

.contact-and-nav__company-law-img {
  width: 69px;
  height: 4px;
}

.contact-and-nav__current-page {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.contact-and-nav__current-page--light {
  color: #FFF;
}
.contact-and-nav__current-page::before {
  content: "/";
  margin-left: 4px;
  margin-right: 4px;
  color: #F0145A;
  font-size: 24px;
  font-weight: bold;
}

.contact-and-nav__logo-hamburger {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translate(-50%, -50%);
  display: block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-left: auto;
  border: none;
  background: none;
}
.contact-and-nav__logo-hamburger:active {
  border-radius: 8px;
  background-color: #E6E6F0;
}
.contact-and-nav__logo-hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 4px;
}
.contact-and-nav__logo-hamburger--light span {
  background-color: #FFF;
}
.contact-and-nav__logo-hamburger span:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .contact-and-nav--mobile {
    display: none;
  }
  .contact-and-nav--desktop {
    display: block;
  }
  .contact-and-nav__contact {
    padding: 0px;
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .contact-and-nav--circle {
    position: relative;
  }
  .contact-and-nav--circle:not(:first-child) {
    margin-left: 18px;
  }
  .contact-and-nav--circle:not(:last-child)::after {
    font-size: 0;
    content: "";
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translate(50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    overflow: hidden;
    border-radius: 30px;
    pointer-events: none;
  }
  .contact-and-nav__contact-address {
    color: #B3B3BA;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .contact-and-nav__facebook-contact {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/Facebook-Header.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
  .contact-and-nav__facebook-contact:hover {
    background-image: url(../images/icons/Facebook-Header-hover.png);
    background-size: 24px 24px;
  }
  .contact-and-nav__logo {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-flex;
    font-size: 0px;
    flex-direction: column;
  }
  .contact-and-nav__company-name-img {
    display: block;
    margin-bottom: 7px;
    width: 130px;
    height: 47px;
  }
  .contact-and-nav__company-law-img {
    display: block;
    width: 130px;
    height: 7px;
  }
  .contact-and-nav__items {
    display: flex;
    flex-direction: row;
  }
  .contact-and-nav__item {
    margin-left: 15px;
  }
  .contact-and-nav__item:first-child {
    margin-left: 0;
  }
  .contact-and-nav__link {
    text-decoration: none;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
  }
  .contact-and-nav__link:hover {
    border-bottom: 2px solid #FFFFFF;
  }
}
@media (min-width: 1024px) {
  .contact-and-nav__logo-nav {
    padding: 0;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }
  .contact-and-nav__contact {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 0;
  }
  .contact-and-nav__logo {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -50%);
  }
  .contact-and-nav__items {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
}
@media (min-width: 1920px) {
  .contact-and-nav {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.main-center__team {
  margin-top: 50px;
}

.team__slider {
  display: flex;
  overflow: hidden;
}

#team__slide-1:target ~ .team__card {
  left: 0;
}

#team__slide-2:target ~ .team__card {
  left: -100%;
}

#team__slide-3:target ~ .team__card {
  left: -200%;
}

.team__card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  background-color: #EDEDF7;
  overflow: hidden;
  border-radius: 8px 8px 8px 8px;
  position: relative;
  transition: 3s;
  left: 0;
}

.team__card-photo {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
}

.team__photo-img {
  position: relative;
  display: block;
  object-fit: cover;
  min-width: 100%;
  max-height: 500px;
}

.team__card-inform {
  padding: 30px;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 6px;
  color: #B3B3BA;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.team__position {
  color: #B3B3BA;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.team__buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}

.team__elipse {
  margin-left: 30px;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: rgba(36, 163, 255, 0.2);
}
.team__elipse:nth-child(1) {
  margin-left: 0;
}

.team__elipse:not(.team__elipse--active):hover {
  background-color: rgba(36, 163, 255, 0.6);
}

.team__elipse--active {
  background-color: #24A3FF;
}

@media (min-width: 768px) {
  .main-center__team {
    margin-top: 80px;
  }
}
@media (min-width: 1024px) {
  .team__card {
    display: flex;
    flex-direction: row;
  }
  .team__card-photo {
    position: relative;
    width: 400px;
    height: auto;
  }
  .team__photo-img {
    object-fit: cover;
    top: 0;
    height: 350px;
    width: 100%;
    min-height: 100%;
    position: absolute;
  }
  .team__card-inform {
    flex: 1;
    position: static;
  }
}
@media (min-width: 1440px) {
  .team__photo-img {
    min-height: 200px;
  }
}
.title-block__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.title-block__link--mb-small {
  margin-bottom: 5px;
}
.title-block__link--mb-large {
  margin-bottom: 10px;
}
.title-block__link--mb-media {
  margin-bottom: 5px;
}
.title-block__link:after {
  content: "";
  background-image: url(../images/icons/Arrow-regular.png);
  margin-left: 2px;
  width: 12px;
  height: 12px;
}
.title-block__link:hover {
  color: #F0145A;
}
.title-block__link:hover::after {
  content: "";
  background-image: url(../images/icons/Arrow-hover.png);
  margin-left: 2px;
  width: 12px;
  height: 12px;
}

.title-block__title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  background-image: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .title-block__link--mb-media {
    margin-bottom: 10px;
  }
  .title-block__title {
    font-size: 38px;
  }
}
.main-footer {
  background-color: #F5F5FA;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-footer__footer {
  margin-top: 30px;
}

.publications__cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 30px;
}

.publications__card {
  border-radius: 8px;
  overflow: hidden;
  background-color: #FFF;
}

.publications__photo {
  width: 100%;
}
.publications__photo-img {
  object-fit: cover;
  max-width: 100%;
}

.publications__content {
  padding: 30px;
}

.publications__link {
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
  color: #24A3FF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}
.publications__link:hover {
  color: #F0145A;
}

.publications__date {
  display: block;
  margin-bottom: 15px;
  color: #B3B3BA;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.publications__text {
  padding-top: 15px;
  border-top: 4px solid #E6E6F0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

@media (min-width: 768px) {
  .publications__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .publications__card:nth-child(-n+2) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }
}
@media (min-width: 1024px) {
  .publications__card:nth-child(3) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }
}
.footer__block {
  position: relative;
  padding-top: 30px;
  border-top: 2px solid #E6E6F0;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__address-company {
  color: #323264;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.footer__address-map {
  text-decoration: none;
  margin-top: 10px;
  color: #24A3FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer__address-map:hover {
  color: #F0145A;
}

.footer__contact {
  margin-top: 21px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.footer__facebook {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url(../images/icons/Facebook-Footer.png);
  background-size: 38px 38px;
  background-repeat: no-repeat;
}
.footer__facebook:hover {
  background-image: url(../images/icons/Facebook-Header-hover.png);
  background-size: 38px 38px;
}

.footer__phone {
  text-decoration: none;
  color: #46466E;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.footer__email {
  text-decoration: none;
  color: #24A3FF;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
.footer__email:hover {
  color: #F0145A;
}

.footer__copyright {
  margin-top: 30px;
  text-align: center;
  color: #B3B3BA;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .footer__address {
    flex-direction: row;
    align-items: center;
  }
  .footer__address-map {
    margin-top: 0px;
  }
  .footer__contact {
    margin-top: 21px;
    gap: 0px;
    flex-direction: row;
  }
  .footer--circle {
    margin-right: 26px;
    position: relative;
  }
  .footer--circle:after {
    font-size: 0;
    content: "";
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translate(50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #B3B3BA;
    overflow: hidden;
    border-radius: 30px;
    pointer-events: none;
  }
  .footer__copyright {
    position: absolute;
    top: 30px;
    right: 0;
    margin: 0;
  }
}
.mob-nav-popup--closed {
  display: none;
}

.mob-nav-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 100, 0.7);
}

.mob-nav-popup__card.mob-nav-popup__card--menu-open {
  bottom: 0;
}

.mob-nav-popup__card {
  position: absolute;
  display: block;
  width: 95.6%;
  left: 50%;
  bottom: -100%;
  transition: 1s;
  transform: translate(-50%, 0);
  border-radius: 12px 12px 0px 0px;
  background-color: #fff;
  padding-top: 64px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.mob-nav-popup__close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}
.mob-nav-popup__close:hover {
  background-color: #E6E6F0;
  border-radius: 8px;
}

.mob-nav-popup__img {
  object-fit: cover;
  border: 0;
  width: 32px;
  height: 32px;
}

.mob-nav-popup__item {
  margin-bottom: 15px;
}
.mob-nav-popup__item:last-child {
  margin-bottom: 0px;
}

.mob-nav-popup__link {
  display: block;
  text-decoration: none;
  color: #24A3FF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 12px;
  background: #F5F5FA;
  padding-top: 7px;
  padding-bottom: 7px;
}
.mob-nav-popup__link:active {
  background-color: #E6E6F0;
  border-radius: 8px;
}

.main-header {
  position: relative;
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643E72 100%);
}

.main-header__advantage {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-header__shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.main-header__shadow .main-header__first {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.main-header__shadow .main-header__first:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background-color: #CACADB;
}
.main-header__shadow .main-header__second {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}
.main-header__shadow .main-header__second:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background-color: #E7E7F2;
}

@media (min-width: 768px) {
  .main-header__advantage {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 160px;
    padding-right: 160px;
  }
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
