@import "../styles/reset.css";
@import "../fonts/stylesheet.css";
.company-pride {
  padding-bottom: 60px;
}

.services-link-tittle {
  display: inline-block;
  margin-bottom: 10px;
}
.services-link-tittle .link-style {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.services-link-tittle .link-style:after {
  content: "";
  background-image: url(../images/icons/Arrow-regular.png);
  margin-left: 2px;
  width: 12px;
  height: 12px;
}
.services-link-tittle .link-style:hover {
  color: #F0145A;
}
.services-link-tittle .link-style:hover::after {
  content: "";
  background-image: url(../images/icons/Arrow-hover.png);
  margin-left: 2px;
  width: 12px;
  height: 12px;
}

.hero {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  background-image: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards-pride {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.cards-pride .card-pride {
  width: 100%;
}
.cards-pride .card-pride .card-img {
  display: block;
  padding: 14px;
  border-radius: 24px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}
.cards-pride .card-pride .card-tittle {
  display: inline-block;
  text-decoration: none;
  color: #24A3FF;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.cards-pride .card-pride .card-tittle:hover {
  color: #F0145A;
}
.cards-pride .card-pride .card-text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.cards-pride .card-pride:last-child .card-img {
  padding: 22px 22.5px;
}

@media (min-width: 768px) {
  .cards-pride {
    gap: 60px;
  }
  .cards-pride .card-pride {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .cards-pride .card-pride {
    width: 28.9%;
  }
}
@media (min-width: 1440px) {
  .cards-pride .card-pride {
    width: 30.3%;
  }
}
@media (min-width: 1920px) {
  .cards-pride .card-pride {
    width: 30.8%;
  }
}
.shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.shadow .shadow-first {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.shadow .shadow-first:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background-color: #CACADB;
}
.shadow .shadow-second {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}
.shadow .shadow-second:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background-color: #E7E7F2;
}

.partner-company {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
.partner-company h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.partner-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.partner-cards .partner-card {
  width: 100%;
  height: 120px;
}
.partner-cards .partner-card:nth-child(1) {
  background-color: #323264;
  background-image: url("../images/Hillel-Logo-OneLine-White-Uk.png");
  background-size: 217px 48px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-cards .partner-card:nth-child(2) {
  background: #143646;
  background-image: url("../images/WannaBiz.png");
  background-size: 200px 32px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-cards .partner-card:nth-child(3) {
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
  background-image: url("../images/tapgerine.png");
  background-size: 179px 44px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-cards .partner-card:nth-child(4) {
  background-color: #9E4DC3;
  background-image: url("../images/3D-LOOK.png");
  background-size: 180px 42px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-cards .partner-card:nth-child(5) {
  background: #FD9339;
  background-image: url("../images/orangear.png");
  background-size: 174px 44px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-cards .partner-card:nth-child(6) {
  background: #E2E2E4;
  background-image: url("../images/adtellingent.png");
  background-size: 223px 48px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partner-cards .partner-card:nth-child(7) {
  display: none;
}
.partner-cards .partner-card:nth-child(8) {
  display: none;
}
.partner-cards .partner-card:nth-child(9) {
  display: none;
}
.partner-cards .partner-card:nth-child(10) {
  display: none;
}
.partner-cards .partner-card:nth-child(11) {
  display: none;
}
.partner-cards .partner-card:nth-child(12) {
  display: none;
}

@media (min-width: 768px) {
  .partner-cards .partner-card {
    width: 33.3%;
  }
  .partner-cards .partner-card:nth-child(7) {
    display: block;
    background: #C71C36;
    background-image: url("../images/Clickky.png");
    background-size: 138px 61px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-cards .partner-card:nth-child(8) {
    display: block;
    background: #DCF3F9;
    background-image: url("../images/ecolease.png");
    background-size: 146px 76px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-cards .partner-card:nth-child(9) {
    display: block;
    background: #EAEAEA;
    background-image: url("../images/Ifra-Tek.png");
    background-size: 182px 60px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-cards .partner-card:nth-child(10) {
    display: block;
    background: #282240;
    background-image: url("../images/City-garden.png");
    background-size: 181px 38px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-cards .partner-card:nth-child(11) {
    display: block;
    background: #1D4568;
    background-image: url("../images/art-print.png");
    background-size: 189px 46px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .partner-cards .partner-card:nth-child(12) {
    display: block;
    background: #000;
    background-image: url("../images/UltimeCard.png");
    background-size: 152px 95px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1024px) {
  .partner-cards .partner-card {
    width: 25%;
  }
}
@media (min-width: 1920px) {
  .partner-cards {
    width: 1720px;
    border-radius: 12px;
    overflow: hidden;
  }
}
.symbol-header {
  display: block;
  height: 600px;
  background-image: url(../images/Symbol.png);
  background-repeat: no-repeat;
  background-size: 523px 600px;
  background-position: top;
}

.symbol-tittle-and-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 139px;
}
.symbol-tittle-and-scroll .symbol-header-tittle {
  display: block;
  width: 90%;
  color: #FFF;
  text-align: center;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
}

.scroll-header {
  margin-top: 159px;
  display: flex;
}

.scroll-header::before {
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../images/icons/Scroll.png);
  background-repeat: no-repeat;
  background-size: 42px 42px;
}

.scroll-header:hover::before {
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../images/icons/Scroll-hover.png);
  background-repeat: no-repeat;
  background-size: 42px 42px;
}

@media (min-width: 768px) {
  .symbol-header {
    height: 1024px;
    background-size: 893px 1024px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
  }
  .symbol-tittle-and-scroll {
    margin-top: 269px;
  }
  .symbol-tittle-and-scroll .scroll-header {
    margin-top: 417px;
  }
}
@media (min-width: 1024px) {
  .symbol-header {
    height: 768px;
    background-size: 670px 768px;
  }
  .symbol-tittle-and-scroll {
    margin-top: 245px;
  }
  .symbol-tittle-and-scroll .scroll-header {
    margin-top: 289px;
  }
}
@media (min-width: 1440px) {
  .symbol-header {
    height: 799px;
    background-size: 697px 799px;
  }
  .symbol-tittle-and-scroll {
    margin-top: 261px;
  }
  .symbol-tittle-and-scroll .scroll-header {
    margin-top: 305px;
  }
}
@media (min-width: 1440px) {
  .symbol-header {
    height: 1000px;
    background-size: 872px 1000px;
  }
  .symbol-tittle-and-scroll {
    margin-top: 361px;
  }
  .symbol-tittle-and-scroll .scroll-header {
    margin-top: 405px;
  }
}
.company-advantage {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-of-advantage ul {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 30px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}
.list-of-advantage ul li:first-child a {
  background-image: linear-gradient(118deg, #EF8080 0%, #F0145A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-of-advantage ul li a {
  line-height: normal;
  text-decoration: none;
  color: #B3B3BA;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.list-of-advantage ul li:not(:first-child) a:hover {
  color: #F0145A;
}

.text-company-advantage {
  margin-top: 30px;
}
.text-company-advantage h2 {
  line-height: 1.2;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.text-company-advantage p {
  margin-top: 30px;
  color: #FFFFFF;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}

@media (min-width: 768px) {
  .company-advantage {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .list-of-advantage ul {
    padding-bottom: 60px;
  }
  .list-of-advantage ul li a {
    font-size: 38px;
  }
  .text-company-advantage {
    margin-top: 60px;
  }
  .text-company-advantage h2 {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .company-advantage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .list-of-advantage {
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    padding-right: 60px;
  }
  .list-of-advantage ul {
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding-bottom: 0;
    border-bottom: none;
    overflow-x: auto;
  }
  .text-company-advantage {
    margin-top: 0;
    margin-left: 60px;
  }
}
@media (min-width: 1440px) {
  .company-advantage {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.desktop {
  display: none;
}

.contact {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: rgba(245, 245, 250, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .lang-switch {
  font-size: 0;
}
.contact .lang-switch a {
  display: inline-block;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 5px 7px;
}
.contact .lang-switch a:not(:last-child):hover {
  border-radius: 8px;
  background-color: #F5F5FA;
}
.contact .lang-switch a:last-child {
  border-radius: 8px;
  background-color: #F0145A;
}
.contact .contact-phone {
  text-decoration: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.header-logo-menu {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.header-logo-menu .logo {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.header-logo-menu .logo .company-name-img {
  width: 69px;
  height: 25px;
}
.header-logo-menu .logo .company-law-img {
  width: 69px;
  height: 4px;
}
.header-logo-menu .logo-current-page {
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.header-logo-menu .logo-current-page::before {
  content: "/";
  margin-left: 4px;
  margin-right: 4px;
  color: #F0145A;
  font-size: 24px;
  font-weight: bold;
}

.logo-menu-hamburger {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translate(-50%, -50%);
  display: block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-left: auto;
  border: none;
  background: none;
}
.logo-menu-hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-top: 4px;
}
.logo-menu-hamburger span:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .logo-and-navigations {
    display: flex;
    flex-direction: column;
  }
  .contact {
    padding: 0px;
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .contact .circle-contact {
    position: relative;
  }
  .contact .circle-contact:not(:first-child) {
    margin-left: 18px;
  }
  .contact .circle-contact:not(:last-child)::after {
    font-size: 0;
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translate(0, -50%);
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    overflow: hidden;
    border-radius: 30px;
    pointer-events: none;
  }
  .contact .contact-adress {
    color: #B3B3BA;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .contact .facebook-header {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/Facebook-Header.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
  .contact .facebook-header:hover {
    background-image: url(../images/icons/Facebook-Header-hover.png);
    background-size: 24px 24px;
  }
  .logo {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-flex;
    font-size: 0px;
    gap: 7px;
    flex-direction: column;
  }
  .logo .company-name-img {
    width: 130px;
    height: 47px;
  }
  .logo .company-law-img {
    width: 130px;
    height: 7px;
  }
  .navigation {
    display: block;
  }
  .navigation a {
    text-decoration: none;
    color: #FFF;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin-left: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
  }
  .navigation a:first-child {
    margin-left: 0;
  }
  .navigation a:hover {
    border-bottom: 2px solid #FFFFFF;
  }
}
@media (min-width: 1024px) {
  .tabletSD {
    display: none;
  }
  .tabletHD {
    display: block;
  }
  .logo-and-navigations {
    padding: 0;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }
  .contact {
    padding: 0;
    margin-bottom: 0;
  }
  .logo {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -50%);
  }
  .logo .company-name-img {
    width: 130px;
    height: 47px;
  }
  .logo .company-law-img {
    width: 130px;
    height: 7px;
  }
  .navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
}
@media (min-width: 1920px) {
  .contact-and-navigation-section {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
* {
  box-sizing: border-box;
}

.main-header {
  position: relative;
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643E72 100%);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 160px;
    padding-right: 160px;
  }
}

/*# sourceMappingURL=style.css.map */
